*,*::after,*::before{
    box-sizing: border-box;
}


.container{
    height: 400px;
    width: 100%;
    background-color: green;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.item{
    background-color: rebeccapurple;
    border: medium solid black;
    flex-grow: 0;
    /* cuando la caja flexbox tenga tamaño sobrante, es la habilidad o el factor de crecer,
    valor por defecto es 0, NO se aceptan valores negativos */
    flex-shrink: 1;
    /* cuando la caja flexbox NO tenga tamaño sobrante, es la habilidad o el factor de encogerse,
    valor por defecto es 1, NO se aceptan valores negativos */
    flex-basis: 100px;
    /* Es el tamaño del elemento hijo dentro de la línea de la caja flexbox,
    Si la caja flexbox tiene dirección de fila, flex basis representa el width,
    Si la caja flexbox tiene dirección de columna, flex-basis va a representar el height,
    Valor por defecto auto */

    flex: 0 1 300px;
    /* Es un shorthand de las propiedades flex-grow flex-shrink y flex-basis, en este orden */


}


/* .item:nth-child(2){
    flex-shrink: 2;
}

.item:nth-child(3){
    flex-shrink: 2;
} */


